<h1>This Is the Secret Page!</h1>

<p>You Found Me!</p>

<img src="https://goodstuff568.files.wordpress.com/2008/01/mission-6-secret-letter-decoded.jpg">

<img src="http://worldartsme.com/images/mission-top-secret-stamp-clipart-1.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>