<h1>Welcome! Search For Your Dream Developer Job</h1>
<form action="/results" method="GET">
    <input type="text" placeholder="location" name="city">
    <input type="text" placeholder="programming language" name="language">
    <input type="submit">
</form>