<h1>Friends List Goes Here!</h1>

<% friends.forEach(function(friend){ %>
<li><%= friend %></li>
<% }) %>

<form action="/addfriend" method="POST">
    <input type="text" placeholder="name of friend" name="friendname">
    <button>I Have Made A New Friend!</button>
</form>