<html>
    <head>
        <title>
            Dummy User App.
        </title>
    </head>
    <body>
    <!--<h1>HEADER INSTALLED</h1> -->
    <header>
    <p> <a>#Dummy Company</a>| <a href="/users/new">New User</a> | <a href="/users">Home Page!</a></p>
    </header>